---
import Nav from "../components/Nav.astro"

import Master from '../templates/Master.astro'

//const posts = await Astro.glob('/blog/*.*')

---

	<Master>
	
	
	
		<a href="inu-kami/inukami-index">123</a>
		<!-- {
			posts.map(post=>post.frontmatter.title)
		} -->
		</Master>
		<script>
			gsap.to("h1", { x: "70%", duration: 5 });
		</script>

</html>
