<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>聯絡我們</title>
    <script is:inline src="https://cdn.tailwindcss.com"></script>
</head>
<style>
    body {
        background-image:   linear-gradient(rgba(0, 0, 0, .8),rgba(0, 0, 0, .8)),url(/public/01/9979164_4253128.jpg)
      ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        
    }
    section{
        inset: 0;
     
    }
</style>

<body>
    <nav class="flex w-full mx-auto pb-[100px] fixed z-30">
        <div class="container flex w-full flex-wrap mx-auto z-50 ">
            <div class="w-1/2 pl-[30px]  md:h-[100px] h-[50px] xl:h-[100px]">
                <div class="h-[100px] pt-[20px]">
                    <a href="inukami-index">
                        <img src="/public/01/OK_logo.svg" alt=""
                            class="object-cover xl:h-[100px] md:h-[80px] sm:h-[70px] h-[40px] ">
                    </a>
                </div>
            </div>
            <div
                class="rounded-b-xl flex flex-wrap items-center lg:justify-center w-1/2 md:flex-row flex-col justify-end">

                <div
                    class="ml-auto bg-yellow-300 bg-yellow-300 md:rounded-bl-xl items-center h-[100px] flex w-1/4 justify-center hover:bg-white duration-300 flex-wrap h-[150px] lg:h-[100px]">
                    <a href="inukami-index" class="text-black text-xl text-center px-[30px]">餐點介紹</a>
                </div>
                <div
                    class="ml-auto  bg-yellow-300 items-center h-[100px] flex w-1/4 justify-center hover:bg-white duration-300 h-[150px] lg:h-[100px]">
                    <a href="inukami-index" class="text-black text-xl text-center px-[30px]">品牌故事</a>
                </div>
                <div
                    class="ml-auto  bg-yellow-300 items-center h-[100px] flex w-1/4 justify-center hover:bg-white duration-300 h-[150px] lg:h-[100px]">
                    <a href="inukami-index" class="text-black text-xl text-center px-[30px]">優惠資訊</a>
                </div>
                <div
                    class="ml-auto bg-yellow-300 md:rounded-br-xl items-center h-[100px] flex w-1/4 justify-center hover:bg-white duration-300 h-[150px] lg:h-[100px] rounded-b-xl md:rounded-br-xl md:rounded-none">
                    <a href="contact" class="text-black text-xl text-center px-[30px] ">聯絡我們</a>
                </div>

            </div>
        </div>

    </nav>
    <section class="w-full pt-[200px] h-[1000px]" id="contact">
        <div class="sm:w-1/2 w-2/3 mx-auto">
            <form action="">
                <div class="mb-3">
                    <label for="name" class="text-white text-xl  block mb-2">姓名</label>
                    <input id="name" class="border border-gray-300 border-2 w-full p-3 rounded-xl">
                </div>
                <div class="mb-3">
                    <label for="phone" class="text-white text-xl  block mb-2">聯絡電話</label>
                    <input id="phone" class="border border-gray-300 border-2 w-full p-3 rounded-xl">
                </div>
                <div class="mb-3">
                    <label for="email" class="text-white text-xl  block mb-2">Email</label>
                    <input id="email" class="border border-gray-300 border-2 w-full p-3 rounded-xl">
                </div>
                <div class="mb-3">
                    <label for="reply" class="text-white text-xl  block mb-2">回饋</label>
                    <textarea id="reply" id="" cols="30" rows="10"
                        class="border border-gray-300 border-2 w-full p-3 rounded-xl"></textarea>
                </div>
                <div>
                    <input type="submit"
                        class="py-2 px-5 bg-yellow-500 rounded-lg hover:bg-yellow-800 hover:text-white duration-300 drop-shadow"
                        value="送出">
                </div>
            </form>
        </div>
        <div class="relative">
            <div class="w-[70px] md:w-[150px] xl:w-[200px] absolute xl:top-[-350px] xl:right-[70px] md:top-[-250px] top-[-100px]"
                data-aos="fade-down-right">
                <img src="/public/01/柴犬4.png" class="h-full w-full object-cover" alt="">
            </div>
        </div>
    </section>
    <hr class="color-white">
    <footer class="h-[100px]">
   
            <div class="w-[200px] mx-auto mt-[20px] ">
                <a href="#">
                    <img src="/public/01/OK_logo.svg" class="object-cover w-full h-full" alt="">
                </a>
            </div>
        </div>
        <div class="flex justify-center  flex-col pb-[10px]">
        
            <div class="flex justify-center mt-[40px] my-[20px]">
                <p class="text-white">營業人名稱:麵屋犬神有限公司
                    統一編號:88888888</p>
            </div>
        </div>
    </footer>
</body>

</html>